<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Adoracja</title>
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('views.assignments') }}">Adoracja</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% if g.user %}
          <ul class="navbar-nav me-auto">
            <li class="nav-item me-2">{{ g.user["username"] }}</li>
            <li class="nav-item me-2">{{ g.user["first_name"] }}</li>
            <li class="nav-item me-4">{{ g.user["last_name"] }}</li>
          </ul>
          {% endif %}
          <ul class="navbar-nav ms-auto">
            {% if g.admin %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('views.admin_config') }}">Konfiguracja</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('views.admin_users') }}">Użytkownicy</a></li>
            {% endif %}
            {% if g.user %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Wyloguj</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Rejestracja</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Logowanie</a></li>
            {% endif %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('views.assignments') }}">Zapisy</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="mx-5 my-5">
      <header class="my-5">
        {% if g.admin %}
        <h3 class="my-5">Aktualna lista adoracji: {{ g.collection.name }}</h3>
        {% endif %}
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}
      {% endblock %}
    </section>

  </body>
</html>
